<div class="mt-4">
  <div class="row row-cols-3">
    <div class="col">

      <h1>O Jogo de Xadrez</h1>

      <img src="/img/chess-pieces.png" alt="Peças de Xadrez" style="width: 300px;">

      <h3>Para começar uma nova partida, clique na opção "Nova Partida" no menu acima ou escolha alguma das partidas que
        estão aguardando oponentes.</h3>
    </div>
    <div class="col">

      {{#if minhasPartidas}}
      <h1>Minhas partidas</h1>
      {{#each minhasPartidas}}
      <a href="/partida/{{this.id}}">{{this.user1.nome}} x {{this.user2.nome}}</a>
      {{/each}}
      {{/if}}
    </div>
    <div class="col">

      {{#if partidasAg}}
      <h1>Partidas aguardando oponentes</h1>
      {{#each partidasAg}}
      <a href="/partida/{{this.id}}">{{this.user1.nome}} x {{this.user2.nome}}</a>
      {{/each}}
      {{/if}}
    </div>
  </div>

</div>
